@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova_Regular.woff2") format("woff2"), url("../font/ProximaNova/ProximaNova_Regular.woff") format("woff"), url("../font/ProximaNova/ProximaNova_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova_Bold.woff2") format("woff2"), url("../font/ProximaNova/ProximaNova_Bold.woff") format("woff"), url("../font/ProximaNova/ProximaNova_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: bold 1.2rem "ProximaNova";
  line-height: 1.2;
  text-align: center;
  color: #101010;
  background: #f4f4f4; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  text-transform: uppercase; }

h1, h2, p {
  margin: 0; }

img {
  max-width: 100%;
  max-height: 100%; }

.h-row-black, .h-row-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 182px 0 360px; }
  .h-row-black nav, .h-row-black li, .h-row-black a, .h-row-white nav, .h-row-white li, .h-row-white a {
    margin: 0;
    float: left; }

.h-row-black {
  background: #101010;
  color: #7e7e7e;
  font: normal 10px "ProximaNova";
  text-transform: uppercase;
  min-height: 40px; }
  .h-row-black a {
    color: #7e7e7e;
    padding: 10px 12px 10px 0;
    position: relative; }
    .h-row-black a:hover {
      color: #fff; }
  .h-row-black li:last-child a {
    height: 10px;
    width: 4px; }
  .h-row-black i {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ff6600;
    position: absolute;
    bottom: 12px;
    right: 8px; }

.h-row-white {
  background: #fff; }
  .h-row-white a, .h-row-white button {
    color: #101010;
    font-size: 17px;
    border-right: solid 1px #ebebeb;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .h-row-white nav:first-child a {
    padding: 0 16px; }
  .h-row-white nav:first-child li:first-child a {
    padding: 0 16px 0 0; }
  .h-row-white nav:last-child ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  .h-row-white nav:last-child li:first-child button {
    border-left: solid 1px #ebebeb; }
  .h-row-white nav:last-child button {
    width: 64px;
    outline: none;
    position: relative; }
  .h-row-white nav:last-child i {
    width: 60px;
    height: 58px;
    display: block;
    margin: 0 auto; }

.cart-count {
  border-radius: 50%;
  background: #ff6600;
  color: #fff;
  font: normal 12px "ProximaNova";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cart {
  position: relative;
  background: url("../img/sprite.svg") no-repeat 49.35897% 79%; }

.search {
  background: url("../img/sprite.svg") no-repeat 28.20513% 79%; }

.h-or-logo {
  background: url("../img/orange-logo.png") no-repeat center center #ff6600;
  height: 100px;
  width: 160px;
  position: absolute;
  top: 0;
  left: 182px; }

.h-search {
  background: #fff;
  display: none; }
  .h-search input {
    width: 100%;
    height: 400px;
    border: solid #ebebeb;
    border-width: 1px 0 0 0;
    outline: none;
    text-align: center;
    font: bold 72px "ProximaNova"; }
  .h-search ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 100px; }
  .h-search ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 100px; }
  .h-search :-moz-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 100px; }
  .h-search :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 100px; }

.h-carousel {
  position: relative; }

.slick-slide, .slick-arrow, .slick-dots {
  outline: none; }

.slick-slide {
  height: 740px; }

.slick-arrow, .slick-dots {
  position: absolute;
  z-index: 10; }

.slick-arrow {
  top: calc(50% - 26px);
  width: 52px;
  height: 52px; }

.line {
  height: 1px;
  width: 52px;
  background: #fff; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-dots {
  width: 100px;
  top: calc(100% - 100px);
  left: calc(50% - 56px);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .slick-dots li, .slick-dots button {
    display: inline-block; }
  .slick-dots button {
    background: #838383;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    outline: none; }
  .slick-dots .slick-active button {
    width: 8px;
    height: 8px;
    background: #fff; }

.slick-slide {
  background-color: #101010; }

.slide-1 {
  background: url("../img/slide-1-bg.jpg") no-repeat;
  background-size: cover;
  color: #fff; }
  .slide-1 i {
    display: block;
    width: 72px;
    height: 74px;
    border-bottom: solid 2px #ff6600;
    margin: 118px auto; }
  .slide-1 h2 {
    font-size: 80px; }
  .slide-1 p {
    font: normal 20px "ProximaNova";
    color: #cbcbcb;
    margin: 0 0 68px 0; }
  .slide-1 span {
    text-transform: uppercase; }
  .slide-1 button {
    border: solid 2px #fff;
    width: 180px;
    height: 48px;
    font: bold 12px "ProximaNova";
    color: #fff;
    margin: 40px auto 0 auto;
    padding-left: 8px; }
    .slide-1 button span, .slide-1 button i {
      display: inline-block; }
    .slide-1 button i {
      border: none;
      margin: 0;
      width: 28px;
      height: 20px;
      background-position: 96% 66.8%; }
    .slide-1 button span {
      margin-bottom: 8px; }

.arr-right {
  background: url("../img/sprite.svg") no-repeat 96% 68.8%; }

.puma-white {
  background: url("../img/sprite.svg") no-repeat 2% 88%; }

main, .promo-left, .promo-right {
  position: relative; }

.promo {
  position: absolute;
  top: -40px;
  width: 100%; }

.promo-wrap {
  margin: 0 auto; }

.promo, .promo a {
  color: #fff; }

.promo-left, .promo-right {
  width: 560px;
  height: 380px; }
  .promo-left img, .promo-right img {
    position: absolute;
    bottom: 0;
    right: 0; }

.promo-left, .promo-left span {
  background: #ff6600; }

.promo-right, .promo-right span {
  background: #d4d4d4; }

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px); }

.promo-frame, .promo-text, .cut {
  position: absolute;
  width: inherit;
  height: inherit; }

.cut {
  top: 0;
  left: 0;
  clip: rect(48px, 520px, 308px, 40px); }

.promo-right:hover .cut, .promo-left:hover .cut {
  clip: inherit; }

.promo-frame {
  top: 48px;
  left: 40px;
  border: solid 4.8px #fff;
  box-sizing: border-box;
  width: calc(100% - 80px);
  height: calc(100% - 120px); }

.promo-text {
  z-index: 40; }
  .promo-text h3 {
    margin: 56px 0 0 40px;
    text-align: left;
    width: 224px;
    font-size: 50px;
    line-height: .9; }
  .promo-text ul {
    position: absolute;
    left: 40px;
    bottom: 26px; }
  .promo-text li {
    float: left; }
  .promo-text a {
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px; }
    .promo-text a i {
      width: 28px;
      height: 20px; }

.blog-title {
  padding: 100px 18px; }
  .blog-title p {
    font: normal 20px "ProximaNova";
    color: #6b6b6b;
    margin: 0; }

h1 {
  font-size: 48px; }

.blog-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.blog-big {
  width: 560px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.blog-small {
  width: 280px;
  height: 280px; }
  .blog-small a {
    width: 100%;
    height: 100%;
    color: #101010;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .blog-small p {
    padding: 20px 12% 0 12%; }

.orange-arrow {
  position: relative;
  width: 40px;
  height: 20px;
  display: block;
  margin: 20px auto 0 auto; }
  .orange-arrow span {
    position: absolute;
    display: block; }
  .orange-arrow span:first-child {
    width: 32px;
    height: 2px;
    background: #ff6600;
    top: 8px; }
  .orange-arrow span:last-child {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid #ff6600;
    border-bottom: 6px solid transparent;
    right: 0;
    top: 4px; }

.blog-button {
  border: solid 2px #c4c4c4;
  width: 180px;
  height: 48px;
  font: bold 12px "ProximaNova";
  color: #363636;
  margin: 68px auto; }

.f-brands {
  background: #e1e1e1;
  padding: 72px 22px;
  position: relative; }
  .f-brands ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
  .f-brands a {
    display: inline-block;
    width: 100px;
    height: 72px;
    padding: 0 10px; }

.cross {
  width: 12px;
  height: 12px;
  margin: 44px; }

.cross:before, .cross:after {
  content: ' ';
  position: absolute;
  height: 14px;
  width: 1px;
  background-color: #707070; }

.cross:before {
  transform: rotate(45deg); }

.cross:after {
  transform: rotate(-45deg); }

.adidas {
  background: url("../img/sprite.svg") no-repeat 1% 4%; }

.new-balance {
  background: url("../img/sprite.svg") no-repeat 99% 44%; }

.nike {
  background: url("../img/sprite.svg") no-repeat 50% 42%; }

.puma {
  background: url("../img/sprite.svg") no-repeat 1% 45%; }

.new-era {
  background: url("../img/sprite.svg") no-repeat 99% 2%; }

.asics {
  background: url("../img/sprite.svg") no-repeat 50% 2%; }

.orange-square {
  background: #ff6600;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  transform: rotate(45deg); }
  .orange-square i {
    background: url("../img/sprite.svg") no-repeat 87% 68.6%;
    display: inline-block;
    width: 20px;
    height: 12px;
    margin: 14px 0 0 0;
    transform: rotate(-45deg); }

.f-menu {
  background: #161616;
  padding: 80px 40px 100px; }

.f-menu a, .f-menu {
  color: #686868; }

.f-menu a {
  font-size: 14px;
  padding: 0 4px; }

.f-wrap {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.middle, .side {
  float: left; }
  .middle ul, .side ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.side {
  width: 36%;
  margin-top: 32px;
  padding-bottom: 100px;
  border-bottom: solid 1px #2e2e2e; }
  .side a:hover {
    color: #fff;
    border-bottom: solid 1px #ff6600; }

.middle {
  margin: 0 22px; }
  .middle ul a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 2px #5c5c5c;
    padding: 0; }
    .middle ul a:hover {
      border-color: #ff6600; }

.black-logo {
  background: url("../img/black-logo.png") no-repeat center center #161616;
  background-size: cover;
  display: block;
  width: 180px;
  height: 100px;
  margin-bottom: 40px; }

.facebook {
  background: url("../img/sprite.svg") no-repeat 27.8% 100%; }

.twitter {
  background: url("../img/sprite.svg") no-repeat 36.9% 100%; }

.pinterest {
  background: url("../img/sprite.svg") no-repeat 66% 72.6%; }

.instagram {
  background: url("../img/sprite.svg") no-repeat 9.2% 100%; }

.facebook:hover {
  background: url("../img/sprite.svg") no-repeat 18.4% 100%; }

.twitter:hover {
  background: url("../img/sprite.svg") no-repeat 46.2% 100%; }

.pinterest:hover {
  background: url("../img/sprite.svg") no-repeat 78% 70%; }

.instagram:hover {
  background: url("../img/sprite.svg") no-repeat 0% 100%; }

.copyright {
  margin-top: 40px;
  font: normal 11px "ProximaNova";
  text-transform: uppercase; }

@media (max-width: 1180px) {
  .h-row-black, .h-row-white {
    padding: 8px 0 0 178px; }
  .h-row-white {
    padding: 0 0 0 178px; }
  .h-or-logo {
    left: 0;
    height: 118px; }
  .slick-slide {
    height: 640px; }
  .slide-1 i {
    margin: 80px auto 120px auto; }
  .slide-1 h2 {
    padding: 0 58px;
    font-size: 60px; }
  .blog-row {
    flex-wrap: wrap; }
  .side {
    margin-top: 0;
    padding-bottom: 44px; }
    .side ul {
      display: block; }
  .blog-big {
    flex-wrap: nowrap; }
  .blog, .promo-wrap {
    padding: 0 40px; } }

@media (max-width: 820px) {
  .promo-left, .promo-right {
    width: 400px;
    height: 300px; }
  .blog-big {
    width: 400px;
    height: 400px; }
  .blog-small {
    width: 200px;
    height: 200px; }
  .blog, .promo-wrap {
    padding: 0; }
  .blog-title {
    padding: 80px 18px; }
  .h-or-logo {
    height: 102px; }
  .h-row-black {
    height: 94px; }
    .h-row-black p {
      margin: 6px 10.6px 18px 0; }
  .h-search input {
    font-size: 62px; }
  .h-search ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 62px; }
  .h-search ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 62px; }
  .h-search :-moz-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 62px; }
  .h-search :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 62px; }
  .h-row-white {
    padding: 0;
    display: block;
    overflow: auto; }
    .h-row-white nav {
      float: none;
      overflow: auto; }
    .h-row-white a, .h-row-white button {
      border-bottom: solid 1px #ebebeb; }
    .h-row-white nav:first-child li, .h-row-white nav:first-child a {
      width: 100%; }
    .h-row-white nav:first-child li:first-child a, .h-row-white nav:first-child a {
      padding: 0; }
    .h-row-white nav:first-child li:last-child a {
      border-right: none; }
    .h-row-white nav:first-child ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 99.8%; }
    .h-row-white nav:last-child li {
      width: 50%; }
    .h-row-white nav:last-child button, .h-row-white nav:last-child ul {
      width: 100%; }
    .h-row-white nav:last-child li:last-child button {
      border-right: none; }
  .cart-count {
    right: calc(50% - 20px); }
  .slick-slide {
    height: 700px; }
  .slide-1 p {
    padding: 0 18px; }
  .slide-1 i {
    margin: 60px auto 108px auto; }
  .f-menu {
    padding: 80px 0 100px; }
  .f-wrap {
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin: 0 auto; }
  .side {
    border: none; }
  .side:last-child {
    margin: 44px 0 0 0; }
  .promo-text h3 {
    font-size: 34px;
    margin: 50px 0 0 40px; }
  .cut {
    clip: rect(48px, 360px, 220px, 40px); } }

@media (max-width: 480px) {
  .h-or-logo {
    width: 100%; }
  .h-row-black {
    margin-top: 102px;
    padding: 18px; }
    .h-row-black p {
      margin: 0 0 28px 0; }
  .h-row-white nav:first-child ul {
    flex-wrap: wrap; }
  .slick-arrow, .line {
    width: 40px; }
  .slick-slide {
    height: 640px; }
  .slide-1 i {
    margin: 70px auto 118px auto; }
  .slide-1 h2 {
    font-size: 34px; }
  .slide-1 p {
    font-size: 16px; }
  .promo-left, .promo-right {
    width: 320px;
    height: 240px; }
  .promo-frame {
    top: 28px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 80px); }
  .promo-text h3 {
    font-size: 28px;
    margin: 28px 0 0 20px;
    width: 160px; }
  .promo-text ul {
    left: 20px;
    bottom: 14px; }
  .cut {
    clip: rect(28px, 300px, 184px, 20px); }
  .blog-title {
    padding: 60px 18px; }
    .blog-title p {
      font-size: 16px; }
  h1 {
    font-size: 38px; }
  .blog-big {
    width: 320px;
    height: 320px; }
  .blog-small {
    width: 160px;
    height: 160px; }
  .orange-arrow {
    margin: 8px auto 0; }
  .h-search input {
    font-size: 40px; }
  .h-search ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 40px; }
  .h-search ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 40px; }
  .h-search :-moz-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 40px; }
  .h-search :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.102);
    font-size: 40px; } }
